#Top
{
    background-color : #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}

body
{
    background-color : #f8f8f8;
}

.color-white
{
    background-color : #fff !important;
}

.spacer
{
    height: 5px;
}