{% extends "base.html" %}
{% block content %}
<div class="container">
    &nbsp;
    <div class="row">
        <div class="panel panel-default col-md-6 col-md-offset-2">
            <div class="panel-head">
                {% if g.user.is_authenticated() %}
                <a href="/new_thread">发表新的议题</a>
                {% endif %}
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
        <div class="panel panel-default col-md-3 col-md-offset-1">
            {% if g.user.is_authenticated() %}
            <div class="panel-heading">{{g.user.name}}</div>
            <div class="panel-body">
                TODO
            </div>
            {% endif %}
            {% if not g.user.is_authenticated() %}
            <div class="panel-heading">TombHub 是一个纪念所有写出来没人用的程序的地方</div>
            <div class="panel-body">
                <p>还没有帐号?<a href="/register" class="navbar-link" >注册</a></p>
                <p>已有帐号?<a href="/login" class="navbar-link" >登录</a></p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}