{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="panel panel-default col-md-8 col-md-offset-2">
            <div class="panel-heading color-white">
                <h2>{{thread.title | safe}}</h2>
                <p style="display: none" id="thread_id">{{thread.id}}</p>
                <div>
                    <a href="/user/{{thread.author_name}}"> {{thread.author_name}}</a>
                    {{thread.created_date.strftime('%Y-%m-%d')}}
                </div>
            </div>
            <div class="panel-body">
                <div id="context">
                    {{thread.content | safe}}
                </div>
            </div>

            <hr>
            <div id="btn-box" class="text-right">
                {% if g.user.is_authenticated() and g.user.get_id() == thread.author_id %}
                <button id="edit" class="btn btn-default">修改</button>
                <button id="delete" class="btn btn-default" onclick="delete_thread()">删除</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    function delete_thread() {
        var thread_id = $('#thread_id').text();
        url = '/thread/'+thread_id+'/delete';
        $.get(
                url,
                null,
                function(data){
                    if (data.status=="SUCCESS"){
                        console.log("SUCCESS");
                        location.href = "/";
                    }
                    else{
                        alert("删除失败"+data.error)
                        console.log(data.error);
                    }
                }
        );
    }
</script>
{% endblock %}