{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="panel panel-default col-md-8 col-md-offset-2">
            <div class="panel-heading color-white">{{username}}</div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td>时间</td>
                        <td>标题</td>
                    </tr>
                    {% for thread in threads %}
                    <tr id="{{thread.id}}">
                        <td>
                            {{thread.created_date.strftime('%Y-%m-%d')}}
                        </td>
                        <td>
                            <a href="/thread/{{thread.id}}/">{{thread.title | safe}}</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}